body {
    background-color: #277090;
}

h1 {
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center;
}

.app {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    width: 300px;
    margin: 100px 580px 0;
}

.list-container {
    padding: 0 20px;
}

.list>* {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list>* .app-input {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app-input {
    height: 25px;
    width: 294px;
    overflow-y: scroll;
}

.btn {
    font-size: 0.8rem;
    font-weight: bold;
    border: unset;
    border-radius: 8px;
    cursor: pointer;
}

.btns-container {
    margin-top: 25px;
    display: flex;
    gap: 5px;
}

.btns-container>* {
    flex: 1 1;
}

.delete-btn,
.edit-btn {
    padding: 6px 8px;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.delete-btn {
    background: red;
}

.edit-btn {
    background: green;
}

.btn-add {
    padding: 10px 15px;
    background: #f7df1d;
    font-size: 0.8rem;
    font-weight: bold;
    border: unset;
    border-radius: 8px;
    color: #3f3f3f;
    cursor: pointer;
}

.btn-clear {
    padding: 10px 15px;
    background: #f7df1d;
    font-size: 0.8rem;
    font-weight: bold;
    border: unset;
    border-radius: 8px;
    color: #3f3f3f;
    cursor: pointer;
}